<mat-card class="recipe-card mt-5" *ngFor="let recipe of recipes">
  <div class="card-header">
    <mat-card-title>
      <h4 (click)="toggleDetails()" class="clickable-title">
        {{ recipe.name }} {{ arrowDirection }}
      </h4>
    </mat-card-title>
    <div class="actions">
      <button mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteRecipe(recipe.id)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="card-content" *ngIf="showDetails">
    <img mat-card-image src="img/pizza.jpg" alt="Image de la recette" />
    <div class="text-content">
      <h6 class="section-title">Ingrédients</h6>
      <mat-chip-set>
        <mat-chip class=""> cheese </mat-chip>
        <mat-chip class=""> pâte à pizza </mat-chip>
        <mat-chip class=""> persil </mat-chip>
        <mat-chip class=""> ... </mat-chip>
      </mat-chip-set>
    </div>
  </div>
  <mat-chip-set class="chip-container">
    <mat-chip class="!bg-blue-300"> déjeuner </mat-chip>
    <mat-chip class="!bg-green-300"> dîner </mat-chip>
  </mat-chip-set>
</mat-card>

<!-- Button to open the modal -->
<div
  class="absolute inset-x-0 bottom-16 h-16 flex justify-content-center align-content-center align-items-center"
>
  <button
    (click)="openModal()"
    type="button"
    class="bg-green-300 w-10 h-10 rounded-circle shadow-sm"
  >
    ✚
  </button>
</div>

<!-- Modal for recipe information -->
<div
  *ngIf="showModal"
  class="container-fluid fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50"
>
  <div class="bg-white p-6 rounded-lg w-92">
    <h2 class="text-xl font-semibold mb-4 flex justify-center">
      Nouvelle recette 🔥
    </h2>
    <div>
      <label for="recipe-name" class="block text-sm font-medium"
        >Nom de la recette</label
      >
      <input
        id="recipe-name"
        type="text"
        class="w-full p-2 mt-1 border rounded"
      />
    </div>

    <div class="mt-4">
      <label for="ingredients" class="block text-sm font-medium"
        >Ingrédients</label
      >
      <div class="w-full p-2 mt-1 border rounded">
        <input
          type="text"
          placeholder="Rechercher un ingrédient"
          class="w-full p-2 border rounded"
        />
        <div class="mt-2 space-y-2">
          <div>
            <button
              class="w-full text-left p-2 bg-gray-100 rounded-md hover:bg-gray-200"
            >
              ingredient1
            </button>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h6>Ingrédients sélectionnés</h6>
        <div class="mt-2">
          <mat-chip>ingredient 1</mat-chip>
        </div>
      </div>
    </div>

    <!-- Checkboxes for meals -->
    <div class="mt-4">
      <h6 class="text-sm font-medium">Type de repas</h6>
      <div class="flex space-x-4">
        <label class="flex items-center">
          <input type="checkbox" class="mr-2" />
          Petit Déjeuner
        </label>
        <label class="flex items-center">
          <input type="checkbox" class="mr-2" />
          Déjeuner
        </label>
        <label class="flex items-center">
          <input type="checkbox" class="mr-2" />
          Dîner
        </label>
        <label class="flex items-center">
          <input type="checkbox" class="mr-2" />
          Goûter
        </label>
      </div>
    </div>

    <div class="mt-4 flex justify-content-between gap-1">
      <button
        (click)="closeModal()"
        class="bg-red-200 text-gray-700 py-2 px-4 rounded-md"
      >
        Annuler
      </button>
      <button
        (click)="closeModal()"
        class="bg-blue-300 text-gray-700 py-2 px-4 rounded-md"
      >
        Recette aléatoire
      </button>
      <button
        (click)="saveRecipe()"
        class="bg-green-500 text-white py-2 px-2 rounded-md"
      >
        Sauvegarder
      </button>
    </div>
  </div>
</div>
