.recipe-card {
  margin: 8px;
  padding: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 4px;
}

.actions button {
  width: 32px;
  height: 32px;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 20% 5% !important;
}

.section-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

mat-chip.ingredient {
  background-color: #e0e0e0;
  color: #333;
}

mat-chip.meal {
  background-color: #ffcc80;
  color: #d84315;
  font-weight: bold;
}
